<!-- Wappler include head-page="layouts/admin" fontawesome_5="cdn" bootstrap5="local" is="dmx-app" id="categories" appConnect="local" -->
<meta name="ac:route" content="/admin/categories">
<div class="container-fluid">
    <div class="row">
        <div class="col">
            <h2>Categories</h2>
        </div>
    </div>
</div>