<!-- Wappler include head-page="layouts/main" is="dmx-app" id="index" appConnect="local" fontawesome_5="cdn" bootstrap5="local" -->
<meta name="ac:route" content="/">
<div class="container">
    <div class="row">
        <div class="col">
            <h1>Welcome {{scUserLoggedin.data.query.firstname}}</h1>
        </div>
    </div>
</div>