<!-- Wappler include head-page="layouts/main" fontawesome_5="cdn" bootstrap5="local" is="dmx-app" id="passwordreset" appConnect="local" components="{dmxValidator:{},dmxBootstrap5Alert:{}}" -->
<dmx-serverconnect id="serverconnect1" url="api/security/password_update"></dmx-serverconnect>
<meta name="ac:route" content="/password-reset">
<div class="container">
    <form id="frmPasswordReset" is="dmx-serverconnect-form" method="post" action="api/security/password_update" dmx-on:invalid="alert1.show();alert1.setType('danger');alert1.setTextContent(lastError.response)" dmx-on:success="alert1.show();alert1.setType('success');alert1.setTextContent('Your password has been changed')">
        <div class="row justify-content-center">
            <div class="col-12 col-md-8 col-lg-8 col-xl-6">
                <div class="row">
                    <div class="col text-center">
                        <h1>Password Reset</h1>
                        <p class="text-h3">Enter your new password below.</p>
                    </div>
                </div>
                <input id="hash" name="hash" type="hidden" dmx-bind:value="query.id">
                <input id="email" name="email" type="hidden" dmx-bind:value="query.email">
                <div class="row align-items-center mt-4">
                    <div class="col">
                        <input type="password" id="inp_password" name="password" class="form-control" placeholder="Password" required="">
                    </div>
                    <div class="col">
                        <input type="password" id="inp_password2" name="password2" class="form-control" placeholder="Confirm Password" required="" data-rule-equalto="password">
                    </div>
                </div>
                <div class="alert" id="alert1" is="dmx-bs5-alert" role="alert">
                    <p>This is a nice alert!</p>
                </div>
                <div class="row justify-content-start mt-4">
                    <div class="col">
                        <button id="frmPasswordReset.submit" class="btn btn-primary" type="submit">Change Password</button>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>